{{ 'section-logo-scroll.css' | asset_url | stylesheet_tag }}


<div class="logos">
  <div class="logos-slide">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/sprouts.png?v=1695707783" alt="sprouts-logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/whole_foods.png?v=1695707783" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/Target_logo_svg.png?v=1695707783" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/albertsons.png?v=1695707783" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/costco.png?v=1695707782" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/Walmart_logo.svg?v=1695707783" alt="logo">
  </div>
  <div class="logos-slide">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/sprouts.png?v=1695707783" alt="sprouts-logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/whole_foods.png?v=1695707783" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/Target_logo_svg.png?v=1695707783" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/albertsons.png?v=1695707783" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/costco.png?v=1695707782" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0829/4826/0146/files/Walmart_logo.svg?v=1695707783" alt="logo">
  </div>
</div>

{% schema %}
  {
    "name": "Infinite Logo Scroll",
    "presets": [
      {
        "name": "infinite logo scroll"
      }
    ]
  }
{% endschema %}